@import "../../styles/variables.css";

.title {
  font-size: var(--xxlarge);
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--gray200);
  font-weight: 200;
}

.subtitle {
  margin-top: 0;
  font-size: var(--xlarge);
  color: var(--gray100);
}

.join-wrapper {
  max-width: 960px;;
}
