:root {
  --mainColor: #800909;
  --gray10: #fafafa;
  --gray100: #999;
  --gray200: #666;
  --gray300: #333;
  --gray400: #111;
  --white: #fff;
  --black: #000;
  --event: #800909;
  --cultura: #74388E;
  --conferencias: #6F90C0;
  --medio-ambiente: #9CBB43;
}
