<aside class="sidebar">
  <div class="brand">
    <img class="logo" alt="Guindostán logo" src="../../assets/logo.svg">
    <p class="slogan">Trabajamos por una cultura popular,<br/> alternativa y autogestionada,<br/> irreverente y combativa<br/>generada desde el barrio.
    </p>
  </div>
  <footer>
    <ul class="social-media">
      <li>
        <a href="http://twitter.com/guindostan">Twitter</a>
      </li>
      <li>
        <a href="http://facebook.com/guindostan">Facebook</a>
      </li>
      <li>
        <a href="https://goo.gl/maps/AYHEHi4PUX62">C/ Ardemans, 5</a>
      </li>
      <li>
        <a href="mailto:guindostan@gmail.com">guindostan@gmail.com</a>
      </li>
    </ul>
    <p class="license">© {{ year }} Guindostan. <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Reconocimiento-NoComercial 4.0 Internacional</a></p>
  </footer>
</aside>