@import "./styles/variables.css";
html,
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  color: var(--mainColor);
  text-decoration: none;
  transition: color .2s linear;
}

a:hover {
  color: color(var(--mainColor) alpha(-20%));
}
