@import "../../styles/variables.css";

.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-menu-btn {
  text-transform: uppercase;
  font-size: var(--small);
  padding: 0.25rem;
  color: var(--gray200);
  transition: color 0.2 linear;
  
  &:hover {
    color: var(--gray400);
  }
}

@media (min-width: 768px) {
  .main-menu {
    justify-content: flex-end;
  }

  .main-menu-btn {
    font-size: var(--medium);
    border-bottom: 2px solid transparent; 
    transition: all 0.2s linear;
    padding: 0.75rem;
    margin: 0 0.25rem;
    will-change: border-bottom;

    &:hover {
       border-bottom: 2px solid var(--mainColor); 
    }
  }
}
